<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="EMULATED" value="true" />
    <add key="AZURE_STORAGE_ACCOUNT" value="sdaviesnode" />
    <add key="AZURE_STORAGE_ACCESS_KEY" value="shhW+NevRqmavMV32kgjYTmm/AOhT3yKSXzNVYxVoPPrb4w+poQ2FSKfQdgKXLV2hEroSHJUkQnHVJJAsrgOZw==" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode />
    <rewrite>
      <rules>
        <clear />
        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="server\.js.+" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <dataCacheClients>
    <tracing sinkType="DiagnosticSink" traceLevel="Error" />
    <!-- This is the default config which is used for all Named Caches
		     This can be overriden by specifying other dataCacheClient sections with name being the NamedCache name -->
    <dataCacheClient name="DefaultShimConfig" useLegacyProtocol="false">
      <autoDiscover isEnabled="true" identifier="Cache" />
      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
    </dataCacheClient>
  </dataCacheClients>
</configuration>